body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: $gray;
  text-rendering: optimizeLegibility;
  margin: 0;
}



html {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* LOGO */
.mylogo {
width:200px;
padding: 10px 10px!important;
position: absolute;
left: 0;
top: 0;
box-sizing: inherit;
z-index: 2000000;
filter: drop-shadow(4px 4px 6px #000000);
}


/* Global button style */
.button {
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  text-color: black;
  background-color: grey;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  min-width: 6rem;
  background-color: rgba(221,54,44,0);
  background-color: #3C3C3C;
}

.button:hover {
  background-color: #555555;
}

.button.disabled {
  pointer-events: none;
  background-color: #555555;
  color: #666666;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg); opacity:0;
		}
		to {
				-webkit-transform: rotate(359deg); opacity:0.9;
		}
}
.button2{
 position: fixed;
 cursor:pointer;
 border: none;
 width:42px;
 text-align: right;
 z-index: 2;
 right: 4%;
 top:42%;
 animation: rotation;
 animation-duration: 1s;
 opacity:0.9;

 }

/* Main section */



.main .title h3 {
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0.8rem 0;
}

@media (min-width: 620px) {
  .main {
    column-count: 2;
    column-gap: 20px;
  }

  section {
    break-inside: avoid;
  }
}

@media (min-width: 960px) {
  .main {
     column-count: 3;
  }
}



.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.center {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.hidden {
  display: none;
}

.reveal {
  opacity: 0;
}

.reveal:hover {
  opacity: 0.2;
}

/* Upload box */
.upload-box {
  font-size: 0.8rem;
  color: black;
  cursor: pointer;
  width: 20rem;
  height: 8rem;
  background: #fff;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 14rem 0 2rem 0;
  opacity: 0.6;
}
.upload-box.dragover {
  /* background-color: grey; */
  color: #eeeeee;
  border: 0.1rem solid rgb(40, 40, 40);
  box-shadow: inset 0 0 0 0.01rem rgb(40, 40, 40);
}
.upload-box:hover {
  border-color: rgb(40, 40, 40);
}
.upload-box #image-preview {
  max-width: 14rem;
  max-height: 8rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
/* Animation for spinner */
#spinner {
  box-sizing: border-box;
  stroke: #cccccc;
  stroke-width: 3px;
  transform-origin: 50%;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite,
    rotate 1.6s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(450deg);
  }
}
@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}
#loader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  margin: 0 auto;
}

/* RECOMMENDATION FRAMES - IMAGES*/
@keyframes example {
  from {opacity: 0.6; margin-top: 80px;}
  to {opacity: .9; margin-top: 10px;}
}

.img-demo {
  display: block;
  align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
  animation-name: example;
  animation-duration: 1.5s;
  display: flex;
  flex-wrap: wrap;
  flex = 30%;
}
.img-demo:hover {
  opacity: 1;
  transition: opacity 0.7s;
}

section {
  border-top: 3px solid var(--red);
  border-radius: 3px;
  background-color: rgba(255,255,255,0.7);
  margin-bottom: 20px;
  overflow: hidden;
}

.pred-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 14px;
  animation-name: example;
  animation-duration: 1.5s;
  opacity: 0.9;
}

.pred-img:hover {
  opacity: 1;
  transition: opacity 0.8s;
}

p {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1em;
}
/* OLD STYLES

#pred-result {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#image-result {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 20rem;
}
#image-display {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 20rem;
}
#image-display.loading {
  filter: brightness(30%);
}
#image-box {
  position: relative;
  width: auto;
  float: left;
  margin-bottom: 2rem;
}


@media (min-width: 620px) {
  .options-link {
    font-size: 1.4em;
  }
*/